.slider {
  height: calc(100vh - 160px) !important;
  /* width: 100vw !important; */
  overflow: hidden !important;
}

.container {
  /* height: 100vw !important; */
  width: 600vw !important;
}

.container img {
  width: 100% !important;
  height: auto !important;
  /* object-fit: cover !important; */
}
